
<!--Contact Page Banner-->
<div class = "contact-banner">
    <h1 class = "contact-banner-text">Contact Us</h1>
    <img src="Server/Public/media/GilgitBaltistan.jpg" alt="Hello" class="contact-bg-img">
</div>


<!--Contact-->
<div class="form-container">

    <form id="contact" action="" method="post">

        <h3 class = "heading">Please fill the form</h3>
        <fieldset>
            <input placeholder="Name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Email Address" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
            <input placeholder="Phone Number" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
            <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
        <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p>
    </form>

</div>
