<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/App.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <title>Term Project</title>
</head>
<body>

<!--Header-->
<header class="d-flex justify-content-sm-between py-3 header-desktop">
    <a href="./"><h3 class="site-logo" >SkyHike</h3></a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#Home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#AboutUs" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#Gallery" class="nav-link">Gallery</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Maps</a></li>
    </ul>
    <h3 class="contact-button"><a href="contact">Contact Us</a></h3>
</header>

<!--Hero Section-->
<section  class="parallax-scroll-section first-section" id="Home">
    <h1 class = "hero-text">Beyond the Horizon:<br/>Hike, Explore, Conquer.</h1>
    <img src="media/BG%20Hero.png" alt="hello" class="bg-img img-layout"/>
    <img src="media/HG.png" alt="hello" class="hero-section-img-container bg-img img1"/>
    <img src="media/MG.png" alt="hello" class="hero-section-img2-container bg-img img2"/>
    <img src="media/VG.png" alt="hello" class="bg-img img3"/>
    <div class="gradient-hero"></div>
</section>

<!--About Us Section-->
<section class="section-container about-us-section" id="AboutUs">
    <div class="text-content">
        <span class="line-title line-title2">Who We Are</span>
        <h1 class="about-us-heading">Discover the Great <br>Outdoors with Us</h1>
        <p>Our commitment to safety and preserving the natural environment ensures a responsible and enriching experience for every adventurer.
            Whether you're seeking to conquer new heights, find peace in the heart of nature, or simply explore the wilderness with like-minded individuals, we're here to guide you every step of the way.
            Join us, and let's embark on a journey where every path leads to discovery and every trail tells a story.</p>
        <!-- Insert more text and elements as needed here -->
    </div>
    <div class="image-content">
        <img src="media/Landscape.jpg" alt="First Image Description" class="first-image">
        <img src="media/Trees.jpg" alt="Second Image Description" class="second-image">
    </div>
</section>

<!--Gallery Section-->

<section id="Gallery" class="gallery-section" >
    <h2 class="line-title">Hiking in Pakistan</h2>
    <div class="owl-carousel custom-carousel owl-theme">
        <div class="item active" style="background-image: url(media/GilgitBaltistan.jpg);">
            <div class="item-desc">
                <h3>Gilgit Baltistan</h3>
                <p>
                    Gilgit Baltistan is a gateway to natural wonders where majestic mountains meet tranquil valleys.
                    Its landscape is a treasure trove for adventurers and peace-seekers alike, offering breathtaking vistas at every turn.
                </p>
            </div>
        </div>
            <div class="item" style="background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg   );">
                <div class="item-desc">
                    <h3>Kashmir</h3>
                    <p>
                        Kashmir is a tapestry of enchanting beauty, interwoven with lush meadows, crystal-clear lakes, and vibrant gardens.
                        It's a place where tranquility and natural splendor reign supreme, inviting visitors to experience its serene allure.
                    </p>
                </div>
            </div>
        <div class="item" style="background-image: url(media/Hunza.jpeg);">
            <div class="item-desc">
                <h3>Hunza</h3>
                <p>
                    Hunza Valley is a serene paradise on earth, known for its breathtaking landscapes, vibrant culture, and welcoming people.
                    Surrounded by snow-capped peaks, it offers a glimpse into a world of pristine beauty and enduring traditions.
                </p>
            </div>
        </div>
        <div class="item" style="background-image: url(media/Swat.jpeg);">
            <div class="item-desc">
                <h3>Swat</h3>
                <p>
                    The valley of Swat is a blend of grand rivers, ancient history, and lush green hills.
                    It's a historic treasure, offering a peaceful retreat into nature,
                    enriched by its archaeological sites and rich cultural heritage.
                </p>
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Comsats University</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span><a  href="tel:+92-343-6299271">+92-343-6299271</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span><a  href="mailto:fa21-bcs-111@cuilahore.edu.pk">fa21-bcs-111@cuilahore.edu.pk</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <h1>SkyHike</h1>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#AboutUs">About</a></li>
                            <li><a href="#Gallery">Gallery</a></li>
                            <li><a href="#">Maps</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="email" placeholder="Email Address">
                                <button><i class="fa fa-telegram"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--Scripts-->
<script src="js/ScrollAnimation.js"></script>
<script src="js/GalleryCarousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/NavbarHandler.js"></script>
</body>