
<div class="login-form-container position-absolute z-2">
    <div class="form-heading">
        Login
    </div>
    <form id="Login-Form" method="post" action="http://localhost:4000/api/auth/login">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
<!--        <div class="form-check">-->
<!--            <label for="exampleCheck1"></label><input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--            <small class="form-check-label" for="exampleCheck1">Remember me</small>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary submit-button">Login</button>
    </form>
</div>

<div class="login-background">

</div>
