



<!--Contact Page Banner-->
<div class = "contact-banner">
    <h1 class = "contact-banner-text">Contact Us</h1>
    <img src="Server/Public/media/GilgitBaltistan.jpg" alt="Hello" class="contact-bg-img">
</div>
