
<div class="overlay-blur"></div>
<!--Register Page-->
<div class = "contact-banner2">
    <h1 class = "contact-banner-text">Register</h1>
<!--    <img src="Server/Public/media/GilgitBaltistan.jpg" class="contact-bg-img">-->

</div>

<div class="login-form-container position-absolute z-2">
    <div class="form-heading">
        Sign Up
    </div>
    <form id="Register-Form" method="post" action="http://localhost:4000/api/auth/register">

        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameInput" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your e-mail">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
        </div>
<!--        <div class="form-check">-->
<!--            <label for="exampleCheck1"></label><input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--            <small class="form-check-label" for="exampleCheck1"></small>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary submit-button">Register</button>
    </form>
</div>
