:root {
    --primary-color: #0B1D26;
    --secondary-color: #76ABAE;
    --tertiary-color: #FF5E14;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;

}


h1,h2,h3,p,.about-us-text{
    color: #f4f4f4;
}

.bg-img{
    height: 100vh;
    width: 100%;
}
.img-layout{
    object-fit: cover;
    opacity: 01;
    position: absolute;

}
.parallax-scroll-section{
    flex-direction: column;
    position: relative;
    display: flex;
    height: 100vh;
}
.img1{

    object-fit: cover;

    height: 100vh;
    will-change: transform;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.img2{
    /*object-fit: cover;*/

    height: 100vh;
    will-change: transform;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 45%;
    right: 0;
    bottom: 0;
    z-index: 0;
    /*margin-bottom: -45%;*/
}
.img3{
    /*object-fit: cover;*/
    width: 100vw;
    height: 100vh;
    will-change: transform;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 60%;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-image: linear-gradient(-3deg, #0b1d26, transparent 57%);

    /*margin-bottom: -30%;*/
}



.img-layout { z-index: 4; }
.img1 { z-index: 3; }
.img2 { z-index: 4; }
.img3 { z-index: 5; }
.img4 { z-index: 6; }

.hero-text{
    will-change: transform,opacity;
    position: fixed;
    top: 45%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6em;
    text-align: left;
    z-index: 5;
    font-family: "Caveat", cursive;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
}
.gradient-hero{
    z-index: 9;
    position: relative;
    top:55%;
    /*top: 10px;*/
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-3deg, var(--primary-color), transparent 97%);
    opacity: 0.6;
}


.nav-pills .nav-link {
    position: relative; /* Ensures the positioning context for the pseudo-element */
    padding-bottom: 5px; /* Ensures space for the underline */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend outside the link */
    display: inline-block; /* Needed to properly size the links for the underline */
}

/* Initial state for the underline pseudo-element */
.nav-pills .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Start with no underline visible */
    height: 2px; /* Thickness of the underline */
    background-color: var(--secondary-color); /* Color of the underline */
    transition: width 0.4s ease, left 0.4s ease; /* Smooth transition for the animation */
}

/* Hover state - expands the underline across the link */
.nav-pills .nav-link:hover::after, .nav-pills .nav-link:focus::after {
    width: 80%;
    left: 10%;/* Ensure the underline starts from the left */
}

/* Maintains the underline style for active links */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #0d6efd00;
}

/* Keeps the underline visible and full-width for active links */
.nav-pills .nav-link.active::after, .nav-pills .show > .nav-link::after {
    width: 80%; /* Adjust based on your design preference */
    /*margin: 0 auto !important; !* Centers the underline *!*/
    background-color: var(--secondary-color); /* Matches non-hover state color */
    left: 10%;
}
.nav-link:focus, .nav-link:hover {
    /*font-weight: 400;*/
    color: var(--primary-color);
}

.site-logo{
    color: #f4f4f4;
    font-weight: 700;
    padding-left: 1.5vw;
}

.contact-button{
    background-color: var(--secondary-color);
    color: #f4f4f4;
    border: 1px solid rgba(11, 29, 38, 0);
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5vw;
    width: 130px;
    height: 35px;
    font-weight: 600;
    transition: 0.3s;
}
.contact-button:hover{
    background-color: rgba(244, 244, 244, 0);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.3s;
    cursor: pointer;
}

.about-us-section {
    padding-top: 35%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 9;
}

/*About Us Section*/
.section-container {
    display: flex;
    position: relative;
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Puts maximum space between text and images */
    padding: 20px; /* Adds some padding around the content */
    margin-top: 13%;
    z-index: 10;
}

.header-new-section{
    /*background-color: rgba(0, 0, 0, 0.8);*/
    /*transition: background-color 1s;*/
    z-index: 9999;
    /*transition: background-color 1s;*/

}
.header-new-section * {
    position: relative;
    z-index: 9999;
}
/* Define keyframe animations */
@keyframes fadeInBlur {
    from {
        backdrop-filter: blur(0px);
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        backdrop-filter: blur(11px);
        background-color: rgba(255, 255, 255, 0.3);
    }
}/* Define keyframe animations */
@keyframes fadeOffBlur {
    from {
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.4);

    }
    to {
        backdrop-filter: blur(0px);
        background-color: rgba(255, 255, 255, 0);
    }
}

.header-new-section h3, .header-new-section .nav-link, .header-new-section .nav-link.active{
    color: var(--primary-color);
    /*font-weight: 600;*/
    transition: color 0.3s ease;
}
 .header-new-section .nav-link:hover{
    color: var(--bs-white);
    transition: color 0.3s ease;
}
.header-new-section .nav-link.active:hover{
    color: var(--primary-color);
    transition: color 0.3s ease;
}
.header-new-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    /* Initialize properties; they will be animated by keyframes */
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    animation: fadeInBlur 1s forwards;
}

.header-desktop{
    position: sticky;
    margin-bottom: -75px;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: rgba(5, 105, 158, 0);
    /*transition: background-color 0.5s;*/
    /*transition: background-color 1s;*/

}
.header-desktop a{
    color: #f4f4f4;
    font-weight: 700;
}
.text-content {
    flex-basis: 50%; /* Assigns 50% of the width to the text content */
    max-width: 50%; /* Ensures text content doesn't exceed 50% of the container width */
}

.image-content {
    flex-basis: 50%; /* Assigns 50% of the width to the image content */
    max-width: 50%; /* Ensures image content doesn't exceed 50% of the container width */
    display: flex;
    flex-direction: row; /* Stacks images vertically */
    align-items: center; /* Centers images in the column */
    gap: 50px; /* Adds space between images */
}

.first-image,
.second-image {
    width: 40%;
    height: 666px;
    object-fit: cover;
}

.first-image{
    margin-top: 170px;
}
.second-image{
    margin-top: -170px;
}
/* Optionally, add media queries to make the layout responsive */
@media (max-width: 768px) {
    .section-container {
        flex-direction: column; /* Stacks the text and images vertically on smaller screens */
    }

    .text-content,
    .image-content {
        flex-basis: 100%;
        max-width: 100%;
    }
}
.about-text-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 50%;
}

/*Footer*/
ul {
    margin: 0;
    padding: 0;
}
.footer-section {
    background: #09171c;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: var(--secondary-color);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span a , .cta-text span {
    color: #757575;
    text-decoration: none;
    font-size: 15px;
    /*transition: font-size 0.3s;*/
}
.cta-text span a:hover {
    color: var(--secondary-color);
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg{
    background: #3B5998;
}
.twitter-bg{
    background: #55ACEE;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: var(--secondary-color);
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;

    margin-bottom: 12px;
}
.footer-widget ul li a:hover{
    color: var(--secondary-color);
}
.footer-widget ul li a {
    color: #878787;
    text-decoration: none;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border-radius: 0;
    border: none;
    color: #fff;
}

input:invalid {
    border: 1px solid red;
}

input:focus {
    border-radius: 0;
    border: none; /* Changed to black */
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background:var(--secondary-color);
    padding: 13px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: var(--secondary-color);
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}