:root {
    --primary-color: #0B1D26;
    --secondary-color: #76ABAE;
    --tertiary-color: #FF5E14;
    --bs-white: #fff;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
}


h1,h2,h3,p,.about-us-text{
    color: #f4f4f4;
}

.bg-img{
    height: 100vh;
    width: 100%;
}
.img-layout{
    object-fit: cover;
    opacity: 01;
    position: absolute;

}
.parallax-scroll-section{
    flex-direction: column;
    position: relative;
    display: flex;
    height: 100vh;
}
.img1{

    object-fit: cover;

    height: 100vh;
    will-change: transform;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.img2{
    /*object-fit: cover;*/

    height: 100vh;
    will-change: transform;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 45%;
    right: 0;
    bottom: 0;
    z-index: 0;
    /*margin-bottom: -45%;*/
}
.img3{
    /*object-fit: cover;*/
    width: 100vw;
    height: 100vh;
    will-change: transform;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 60%;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-image: linear-gradient(-3deg, #0b1d26, transparent 57%);

    /*margin-bottom: -30%;*/
}



.img-layout { z-index: 4; }
.img1 { z-index: 3; }
.img2 { z-index: 4; }
.img3 { z-index: 5; }
.img4 { z-index: 6; }

.hero-text{
    will-change: transform,opacity;
    position: fixed;
    top: 45%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6em;
    text-align: left;
    z-index: 5;
    font-family: "Caveat", cursive;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
}
.gradient-hero{
    z-index: 9;
    position: relative;
    top:55%;
    /*top: 10px;*/
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-3deg, var(--primary-color), transparent 97%);
    opacity: 0.6;
}


.nav-pills .nav-link {
    position: relative; /* Ensures the positioning context for the pseudo-element */
    padding-bottom: 5px; /* Ensures space for the underline */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend outside the link */
    display: inline-block; /* Needed to properly size the links for the underline */
}

/* Initial state for the underline pseudo-element */
.nav-pills .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Start with no underline visible */
    height: 2px; /* Thickness of the underline */
    background-color: var(--secondary-color); /* Color of the underline */
    transition: width 0.4s ease, left 0.4s ease; /* Smooth transition for the animation */
}

/* Hover state - expands the underline across the link */
.nav-pills .nav-link:hover::after, .nav-pills .nav-link:focus::after {
    width: 80%;
    left: 10%;/* Ensure the underline starts from the left */
}

/* Maintains the underline style for active links */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #0d6efd00;
}

/* Keeps the underline visible and full-width for active links */
.nav-pills .nav-link.active::after, .nav-pills .show > .nav-link::after {
    width: 80%; /* Adjust based on your design preference */
    /*margin: 0 auto !important; !* Centers the underline *!*/
    background-color: var(--secondary-color); /* Matches non-hover state color */
    left: 10%;
}
.nav-link:focus, .nav-link:hover {
    /*font-weight: 400;*/
    color: var(--primary-color);
}

.site-logo{
    color: #f4f4f4;
    font-weight: 700;
    padding-left: 1.5vw;
}

.contact-button{
    background-color: var(--secondary-color);
    color: #f4f4f4;
    border: 1px solid rgba(11, 29, 38, 0);
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5vw;
    width: 130px;
    height: 35px;
    font-weight: 600;
    transition: 0.3s;
}
.contact-button:hover{
    background-color: rgba(244, 244, 244, 0);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.3s;
    cursor: pointer;
}

.about-us-section {
    padding-top: 35%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    z-index: 9;
    background-color: var(--primary-color);
}
.about-us-section p{
    width: 70%;
}
.form-container{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/

    height: 80vh;
}

/*About Us Section*/
.section-container {
    display: flex;
    position: relative;
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Puts maximum space between text and images */
    padding: 20px; /* Adds some padding around the content */
    margin-top: 13%;
    z-index: 10;
}

.header-new-section{
    /*background-color: rgba(0, 0, 0, 0.8);*/
    /*transition: background-color 1s;*/
    z-index: 9999;
    /*transition: background-color 1s;*/

}
.header-new-section * {
    position: relative;
    z-index: 9999;
}
/* Define keyframe animations */
@keyframes fadeInBlur {
    from {
        backdrop-filter: blur(0px);
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        backdrop-filter: blur(11px);
        background-color: rgba(255, 255, 255, 0.3);
    }
}/* Define keyframe animations */
@keyframes fadeOffBlur {
    from {
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.4);

    }
    to {
        backdrop-filter: blur(0px);
        background-color: rgba(255, 255, 255, 0);
    }
}

.header-new-section h3, .header-new-section .nav-link{
    color: var(--primary-color);
    /*font-weight: 600;*/
    transition: color 0.3s ease;
}
.active{
    color: var(--bs-white) !important;
    /*font-weight: 600;*/
    transition: color 0.3s ease;
}
 .header-new-section .nav-link:hover{
    color: var(--bs-white) ;
    transition: color 0.3s ease;
}
.header-new-section .nav-link.active:hover{
    color: var(--primary-color);
    transition: color 0.3s ease;
}
.header-new-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    /* Initialize properties; they will be animated by keyframes */
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    animation: fadeInBlur 1s forwards;
}

.header-desktop{
    position: sticky;
    margin-bottom: -78px;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: rgba(5, 105, 158, 0);
    /*transition: background-color 0.5s;*/
    /*transition: background-color 1s;*/

}
.header-desktop a{
    color: #f4f4f4;
    font-weight: 700;
}
.text-content {
    padding-left: 100px;
    flex-basis: 50%; /* Assigns 50% of the width to the text content */
    max-width: 50%; /* Ensures text content doesn't exceed 50% of the container width */
}

.image-content {
    flex-basis: 50%; /* Assigns 50% of the width to the image content */
    max-width: 50%; /* Ensures image content doesn't exceed 50% of the container width */
    display: flex;
    flex-direction: row; /* Stacks images vertically */
    align-items: center; /* Centers images in the column */
    gap: 50px; /* Adds space between images */
}

.first-image,
.second-image {
    width: 40%;
    height: 450px;
    object-fit: cover;
}

.first-image{
    margin-top: 170px;
}
.second-image{
    margin-top: -170px;
}
/* Optionally, add media queries to make the layout responsive */
@media (max-width: 768px) {
    .section-container {
        flex-direction: column; /* Stacks the text and images vertically on smaller screens */
    }

    .text-content,
    .image-content {
        flex-basis: 100%;
        max-width: 100%;
    }
}
.about-text-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 50%;
}

/*Footer*/
ul {
    margin: 0;
    padding: 0;
}
.footer-section {
    background: #09171c;
    position: relative;
    bottom: 0;
    z-index: 1;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: var(--secondary-color);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span a , .cta-text span {
    color: #757575;
    text-decoration: none;
    font-size: 15px;
    /*transition: font-size 0.3s;*/
}
.cta-text span a:hover {
    color: var(--secondary-color);
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg{
    background: #3B5998;
}
.twitter-bg{
    background: #55ACEE;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: var(--secondary-color);
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;

    margin-bottom: 12px;
}
.footer-widget ul li a:hover{
    color: var(--secondary-color);
}
.footer-widget ul li a {
    color: #878787;
    text-decoration: none;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border-radius: 0;
    border: none;
    color: #fff;
}

input:invalid {
    border: 1px solid red;
}

input:focus {
    border-radius: 0;
    border: none; /* Changed to black */
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background:var(--secondary-color);
    padding: 13px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: var(--secondary-color);
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}


/*Gallery*/


.clear {
    clear: both;
}
img {
    max-width: 100%;
    border: 0px;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
a:focus,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

h2 {
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
}
h3 {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
}
button {
    outline: none !important;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
    position: relative;
    width: 400px;

}
.about-us-heading{
   margin-top: 48px;
}
.line-title2 {
    margin-bottom: 48px !important  ;
    padding-bottom: 16px;
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    position: relative;
    text-transform: capitalize;
}

.line-title::before,
.line-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 2px;
}
.line-title::before {
    width: 100%;
    background: #f2f2f2;
}
.line-title::after {
    width: 32px;
    background: var(--secondary-color);
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.gallery-section {
    padding: 100px 100px;
}
.gallery-section{
    /*margin-top: 70px;*/
}
.gallery-section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
}
.gallery-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.gallery-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.gallery-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.gallery-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.gallery-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
}
.gallery-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.gallery-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.gallery-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
    h2 {
        margin-bottom: 32px;
    }
    h3 {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }

    /* -------- Landing page ------- */
    .gallery-section {
        padding: 50px 30px;
    }
    .gallery-section .item {
        margin: 0 12px 60px;
        width: 260px;
        height: 360px;
    }
    .gallery-section .item.active {
        width: 400px;
    }
    .gallery-section .item-desc {
        transform: translateY(calc(100% - 46px));
        -webkit-transform: translateY(calc(100% - 46px));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h2 {
        margin-bottom: 32px;
    }
    h3 {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }
    .line-title {

        width: 330px;
    }

    /* -------- Landing page ------- */
    .gallery-section {
        padding: 50px 30px 40px;
    }
    .gallery-section .item {
        margin: 0 12px 60px;
        width: 240px;
        height: 330px;
    }
    .gallery-section .item.active {
        width: 360px;
    }
    .gallery-section .item-desc {
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    h2 {
        margin-bottom: 20px;
    }
    h3 {
        margin: 0 0 8px;
        font-size: 19px;
        line-height: 24px;
    }
    .line-title {
        width: 250px;
    }

    /* -------- Landing page ------- */
    .gallery-section {
        padding: 30px 15px 20px;
    }
    .gallery-section .item {
        margin: 0 10px 40px;
        width: 200px;
        height: 280px;
    }
    .gallery-section .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }
    .gallery-section .item-desc {
        padding: 0 14px 5px;
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

.owl-carousel{
    display: flex !important;
}

.home-demo .item {
    background: #ff3f4d;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}


/*Contact Us Page*/

.contact-banner{
    background-image: url("../media/Hunza.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
    position: relative;
    z-index: 1;
}
.contact-banner2{
    background-image: url("../media/Hunza.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
    position: relative;
    z-index: 1;
}
.contact-banner-text{
    margin-top: 76px       ;
}
.contact-bg-img{
    position: fixed;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(6px) ;
    background-color: rgba(11, 29, 38, 0.7);
    z-index: -1;
}


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    border-radius: 10px;
    padding: 25px;
    margin: 150px 0;
    width: 350px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contact .heading{

    color: var(--primary-color);
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"] {
    border-radius: 10px;
}
#contact textarea {
    border-radius:10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid var(--secondary-color);
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: var(--secondary-color);
    color: #FFF;
    border-radius: 10px;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: var(--primary-color) !important;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

.data-form-uploader{
    position: relative;
    z-index: 2;
}
.storiesChild{
    display: flex;
    flex-direction: column;
}
.hide{
    display: none;
}
.login-background{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    background-position:center;
    background-repeat: no-repeat;
    object-fit: cover;
    /*backdrop-filter: blur(6px);*/
    filter: blur(6px);
    background-image: url("../media/Login Background.png");

}

.login-form-container{
    background-color: var(--bs-white);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    z-index: 10;
    width: 400px;
    left: 50%;
    padding: 30px;
    transform: translateX(-50%) translateY(-50%);
    /*align-items: center;*/
    border-radius: 10px;
    top: 50%;
    height: 60vh;
}

.form-heading{
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
}
.form-group{
    margin-bottom: 15px ;
}
.submit-button{
    width: 100%;
    margin-top: 25px;
}
.form-check {
    display: flex;
    gap: 7px;
}

.login-page-logo{
    position: absolute;
    z-index: 5;
    color: var(--primary-color);
    left: 6%;
    top: 2%;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.overlay-blur{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(6px);
    z-index: 2  ;
}

.card-text{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}

#storiesListClient{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}