
body {
margin:0;
}

.hero-section{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
/*background-color: antiquewhite;*/
    background-image: url("media/hero_background.jpg");
}
.sticky-header{
    display: flex;
    height: 70px;
    position: sticky;
    /*background-color: transparent;*/
    justify-content: center;
    top: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    background-color: #fff;
    width: 100%;
    z-index: 100;
}
.header-text{
    font-family: sans-serif;
    font-size: 1.2em;
}

.sticky-header-animation{

    transition: 0.5s;
    background-color: #fff;

    &

}

