



<!--Contact Page Banner-->
<div class = "contact-banner">
    <h1 class = "contact-banner-text">Maps</h1>
    <img src="Server/Public/media/GilgitBaltistan.jpg" alt="Hello" class="contact-bg-img">
</div>

<!--Search Field and Search button-->
<div class="container data-form-uploader search-bar-container input-group">
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" id="searchInput" class="form-control" placeholder="Search">
        <button id="searchButton" class="btn btn-primary ml-2">Search</button>
    </div>
</div>

<div class="container  data-form-uploader mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination"></ul>
    </nav>
</div>

<div class="container d-flex data-form-uploader mt-5">

<div id="storiesListClient"></div>
</div>