<div class="user-widget">
    <div class="user-popup" id="my-popover" popover>
        <p>👋 Hello, <%= user.name %>!</p>
        <form id="logoutForm" >
            <button type="submit" class="btn btn-danger btn-sm">Logout</button>
        </form>
    </div>
    <i class="fa fa-user" popovertarget="my-popover"></i>

</div>